apiVersion: v1
kind: Secret
metadata:
  name: flexblankett-secret
  namespace: flexblankett
type: Opaque
stringData:
  SECRET_KEY: "change-me-to-a-long-random-string"
  DATABASE_URL: "mysql+pymysql://flexuser:password@db1.cname.se:3306/flexblankett"
